<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="pd0">Agregar miembro al grupo familiar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Cédula</ion-label>
            <ion-input
              ci
              type="text"
              formControlName="ci"
              placeholder="Ingresa la cédula de identidad"
            ></ion-input
          ></ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input
              formControlName="name"
              placeholder="Ingresa los nombres"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Primer pellido</ion-label>
            <ion-input
              formControlName="patherLastName"
              placeholder="Ingresa los apellidos"
            ></ion-input
          ></ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Segundo Apellido</ion-label>
            <ion-input
              formControlName="motherLastName"
              placeholder="Ingresa los apellidos"
            ></ion-input
          ></ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Correo electronico</ion-label>
            <ion-input
              formControlName="email"
              placeholder="Ingresa el correo electronico"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input
              formControlName="phone"
              placeholder="Ingresa el telefono"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-radio-group formControlName="gender">
            <ion-item>
              <ion-label>Masculino</ion-label>
              <ion-radio slot="end" value="MASCULINO"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Femenino</ion-label>
              <ion-radio slot="end" value="FEMENINO"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Fecha de nacimiento</ion-label>
            <ion-input
              type="date"
              formControlName="dateOfBirth"
              placeholder="Ingresa su fecha de nacimiento"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Apartamento</ion-label>
            <ion-input
              formControlName="apartment"
              placeholder="Ingresa su apartamento"
            ></ion-input
          ></ion-item>
        </ion-col>

        <ion-col class="buttons" size="12" style="text-align: right;">
          <ion-button (click)="cancel()" color="danger" style="margin-right: .6rem;">Cancelar</ion-button>
          <ion-button (click)="confirm()" [disabled]="form.invalid">Agregar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
