@import "../../../../global.scss";

ion-menu::part(backdrop) {
  background-color: $tertiary;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px $quaternary;
}
.divItem {
  padding: 0px;
  a {
    padding: 0px;
  }
}
