<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="user">
    <div class="divItem" *ngFor="let item of menuItem">
      <ion-item [href]="item.url">
        <ion-label>{{ item.title }}</ion-label>
        <ion-icon [name]="item.icon" slot="end"></ion-icon>
      </ion-item>
    </div>
    <div class="divItem">
      <ion-item button (click)="logout()">
        <ion-label>Cerrar sesión</ion-label>
        <ion-icon name="exit" slot="end"></ion-icon>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>CC Bosque Alegre</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
